.card {
    border-radius: 1rem !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff3cd !important;
    box-shadow: 0 0 9px #fe2d2d;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 9px #fa8484;
}

.card-body h6 {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    color: #6c757d;
    margin-bottom: 0.5rem;
}

.card-body h3 {
    font-size: 2rem;
    margin: 0;
}

h3.fw-bold.fs-4 {
    font-size: 1.5rem !important;
    border-left: 4px solid #0d6efd;
    padding-left: 0.75rem;
    margin-bottom: 1.5rem;
}

.table-responsive {
    border-radius: 12px;
    overflow: hidden!important;
    box-shadow: 0 0 12px 0 rgb(100 76 76);
    transition: transform 0.3s ease;
}

.table-responsive:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 12px 0 rgb(149, 109, 109);
}

.table {
    margin-bottom: 0 !important;
    background-color: #fff;
    overflow: hidden;
    border-color: black!important;
}

.table-light{
    border-color: black!important;
}
.table thead th {
    background-color: #fff3cd;
    color: #495057;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
}

.table tbody tr {
    background-color: #ffffff;
    transition: background-color 0.2s ease;
}

.table tbody tr:hover {
    background-color: #f8f9fa;
}

.table tbody td {
    padding: 1rem;
    vertical-align: middle;
    font-weight: 500;
    color: #333;
    background-color:#80f8ca !important;
}

#revenueChart {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
}
